<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_search.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="header" id="header_id">
            <div class="headerContent">
                <div class="logoContainer">
                    <a href="/">
                        <img src="./assets/img/logo_comet2.png" alt="Logo">
                    </a>
                </div>
                <div class="searchContainer">
                    <form method="GET" action="search.hbs">
                        <input class="searchBox" type="text">
                        <button class="searchButton">Search</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="mainResultsSection">

        </div>
    </div>
    <script src="./js/search.js" defer></script>
</body>

</html>